.display-menu {
    margin-bottom: 20px;
    position: relative;
    z-index: 1000;
    background-color: #f4f5f7;
}

.menu-dropdown {
    position: absolute;
    margin-top: 15px;
    background-color: #f4f5f7;
    border: 1px solid #ccc;
    padding: 15px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    /* Increased width */
}

.display-menu button {
    display: flex;
    align-items: center;
    padding: 8px 16px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
}

.display-menu button .display-icon {
    margin-right: 12px;
    /* Adjust spacing as needed */
}

.display-menu button .button-text {
    display: flex;
    align-items: center;
}

.display-menu button .arrow-icon {
    margin-left: 12px;
    /* Adjust spacing as needed */
}

.display-menu button:hover {
    background-color: #f0f0f0;
}

.menu-dropdown .dropdown-option {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    /* Reduced spacing between options */
}

.menu-dropdown .dropdown-option label {
    margin-right: 20px;
    /* Uniform spacing between label and select */
    font-weight: bold;
}

.menu-dropdown .select-wrapper {
    display: flex;
    align-items: center;
    position: relative;
    width: 40%;
    /* Reduced width */
}
.menu-dropdown .dropdown-option label {
    margin-right: 100px;
    /* Uniform spacing between label and select */
    font-weight: bold;
    color: grey;
    /* Set label color to grey */
}

.menu-dropdown select {
    width: 100%;
    /* Make select take full width of the wrapper */
    padding: 8px;
    /* Adjust padding for better spacing */
    appearance: none;
    /* Remove default arrow */
    border: 1px solid #ccc;
    border-radius: 4px;
    padding-right: 30px;
    /* Add padding to the right to make space for the arrow icon */
}

.menu-dropdown .select-wrapper .arrow-icon {
    position: absolute;
    right: 10px;
    pointer-events: none;
    /* Make sure the icon doesn't block the select interaction */
}